# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

# Build artifacts
*.obj
*.pdb
*.ipch
*.ipdb
*.iobj
*.tlog
*.log
*.exe.recipe
*.lastbuildstate
*.FileListAbsolute.txt
*.pch
